*{
    box-sizing: border-box;
}
#Map{
    width: 1070px;
    margin: auto;
}
.row{
    width: 1070px;
    float: left;
    margin: auto;
}
.row:after{
    clear: both;
}
.road, .wall{
    width:  69px;
    height: 64px;
    float:  left;
    padding: 15px 0px;

}

.road{
    background: url("img/texture-road.jpg");
}

.wall{
    background: url("img/texture-wall.jpg");
}

#Car{
    width: 69px;
    height: 33px;

}